<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu portfólio</title>

    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>

    <header class="container">
        <div class="page-header">
            <div class="logo">
                <a href="#">Meu portfólio</a>
            </div>
            
            <ul>
                <li><a href="#" class="active" style="--navAni:1--"></a>Home</li>
                <li><a href="#" style="--navAni:2--"></a>Sobre</li>
                <li><a href="#" style="--navAni:3--"></a>Linguagens</li>
                <li><a href="#" style="--navAni:4--"></a>Projetos</li>
                <li><a href="#" style="--navAni:5--"></a>Contato</li>
            </ul>

            <label class="mode">
                <input type="checkbox" id="darkModeToggle">]
                <i class="bx bxs-moon"></i>
            </label>
            
        </div>
    </header>

    <section>
        
    </section>

    


</body>
</html>